services:
  nginx:
    image: nginx
    build: requirements/nginx
    ports:
      - "443:443"
    volumes:
      - wordpress-data:/var/www/html
    networks:
      - inception
    restart: always

  mariadb:
    image: mariadb
    build: requirements/mariadb
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - inception
    restart: always
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_WP_ADMIN=${MYSQL_WP_ADMIN}
      - MYSQL_WP_ADMIN_PASSWORD=${MYSQL_WP_ADMIN_PASSWORD}

  wordpress:
    image: wordpress
    build: requirements/wordpress
    volumes:
      - wordpress-data:/var/www/html
    networks:
      - inception
    restart: always
    depends_on:
      - mariadb
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_WP_ADMIN=${MYSQL_WP_ADMIN}
      - MYSQL_WP_ADMIN_PASSWORD=${MYSQL_WP_ADMIN_PASSWORD}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_TITLE=${WP_TITLE}
      - WP_USER_EMAIL=${WP_USER_EMAIL}

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/mariadb
      o: bind

  wordpress-data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress
      o: bind

networks:
  inception:
    driver: bridge
